.bundle
db/*.sqlite3*
log/*.log
*.log
tmp/**/*
doc/
*.swp
*~
.DS_Store
public/system/*
.rvmrc
.rspec
bin/
.powrc
coverage/
Guardfile
db/structure.sql
.sass-cache
zeus.json
.zeus.sock
vendor/cache/
.ruby-gemset
.ruby-version
