<%= image_tag @article.image, id: "cropbox", width: '960' %>

<div id="crop_form">
  <%= form_for(@article) do |f| %>
    <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
      <%= f.hidden_field attribute, id: attribute %>
    <% end %>
    <%= f.submit "Crop" %>
  <% end %>
</div>